@model IEnumerable<PlayerStatisticViewModel>

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Statistics</h6>
                    <nav aria-label="breadcrumb" class="d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Dashboards</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Statistic</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Statistic</h3>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="sort" data-sort="date">Date</th>
                                <th scope="col" class="sort" data-sort="eventName">Event Name</th>
                                <th scope="col" class="sort" data-sort="eventName">Gun Info</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            @foreach (var statistic in Model)
                            {
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">@statistic.Date</span>
                                        </div>
                                    </div>
                                </th>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">@statistic.EventName</span>
                                        </div>
                                    </div>
                                </th>
                                <th scope="row">
                                    @foreach (var info in statistic.GunInfo)
                                    {
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <span class="name mb-0 text-sm">@info.Gun - @info.Energy J.</span>
                                            </div>
                                        </div>

                                    }
                                </th>
                                

                            </tr>
                            }
                    </table>
                    <br />
                    @*<partial name="_PagingPartial" model="@Model" />*@
                </div>
            </div>
        </div>
    </div>
</div>