@model AirsoftApplication.Web.ViewModels.Administration.Users.SetUserRoleViewModel

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Roles</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Dashboards</a></li>
                            <li class="breadcrumb-item"><a asp-action="AllPlayers">Players</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Remove</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a asp-controller="users" asp-action="AllPlayers" class="btn btn-sm btn-neutral">Users</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-4 order-xl-2">
            <div class="card card-profile">
                @if (Model.ProfileImage != null)
                {
                    <img src="@Model.ProfileImage" style="height:300px" alt="Image placeholder" class="card-img-top">
                }
                else
                {
                    <img src="~/Images/default-avatar.png" style="height:300px" alt="Image placeholder" class="card-img-top">
                }
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">

                        </div>
                    </div>
                </div>

                <div class="card-body pt-0">
                    <div class="row">

                    </div>
                    <div class="text-center">
                        <h5 class="h3">
                            @Model.PlayerName<span class="font-weight-light"></span>
                        </h5>
                        <div class="h5 font-weight-300">
                            <i class="ni location_pin mr-2"></i>@Model.CurrentRoles
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 order-xl-1">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Remove User Role </h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form asp-action="RemovePlayerRole" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="RoleName" class="control-label alert-heading"><strong></strong></label>
                            <select asp-for="RoleName" class="form-control  alert-heading">
                                <option value="">choose a role </option>
                                @foreach (var role in Model.CurrentRoles.Split("/"))
                                {
                                    <option value="@role">@role</option>
                                }
                            </select>
                            <span asp-validation-for="RoleName" class="text-danger"></span>
                        </div>
                        <div form-group>
                            <input type="hidden" asp-for="UserId" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Remove Role" class="btn btn-primary" />
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


