@model AirsoftApplication.Web.ViewModels.Administration.Users.SetUserRoleViewModel


<p>@Model.PlayerName </p>
<p>@Model.CreatedOn </p>

<p>@Model.CurrentRoles </p>


<div class="row">
    <div class="col-md-4">
        <form asp-action="SetPlayerRole" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label alert-heading">Role</label>
                <select asp-for="RoleName" class="form-control  alert-heading">
                    @if (Model.ApplicationRoles.Count() > 0)
                    {
                        @foreach (var role in Model.ApplicationRoles)
                        {
                            <option value="@role.Name">@role.Name</option>
                        }

                    }
                </select>
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div form-group>
                <input type="hidden" asp-for="UserId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Set Role" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

