@model EventDeteilsViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await this.UserManager.GetUserAsync(this.User);
}

@foreach (var comment in Model.Comments)
{
    <div class="media mt-3 mb-4">
        @if (comment.UserId != null && comment.ProfileImageUrl != null)
        {
            <img class="d-flex mr-3 z-depth-1" src="@comment.ProfileImageUrl" width="62" height="72" alt="Generic placeholder image">
        }
        else
        {
            <img class="d-flex mr-3 z-depth-1" src="~/Images/default-avatar.png" width="62" alt="Generic placeholder image">
        }

        <div class="media-body">
            <div class="d-sm-flex justify-content-between">
                <p class="mt-1 mb-2">
                    @if (comment.UserId != null)
                    {
                        <strong>@comment.PlayerName </strong>
                    }
                    else
                    {
                        <strong>Anonymous </strong>
                    }
                    <span>– </span><span>@comment.Date</span>
                </p>
            </div>
            <p class="mb-0">@comment.Content</p>
            <hr />

            <partial name="_CommentContentPartial" model="@comment.SubComments" />

            <div class="d-md-flex justify-content-md-end">
                <a class="btn btn-primary btn-sm mr-1" asp-controller="Comments" asp-action="SubComment" asp-route-eventId="@Model.Id" asp-route-commentId="@comment.Id">Comment</a>

                @if (user == null)
                {
                    <a class="btn btn-secondary btn-sm mr-1">
                        <i class="fas fa-thumbs-up"></i> (@comment.Vote.PositiveVotes)
                    </a>
                    <a class="btn btn-secondary btn-sm">
                        <i class="fas fa-thumbs-down"></i> (@comment.Vote.NegativeVotes)
                    </a>
                }
                else
                {
                    if (!comment.Vote.VotedUsers.ToList().Contains(user.Id))
                    {
                        <a class="btn btn-primary btn-sm mr-1" asp-controller="Vote" asp-action="PositiveVote" asp-route-eventId="@Model.Id" asp-route-guidingId="@comment.Id">
                            <i class="fas fa-thumbs-up"></i> (@comment.Vote.PositiveVotes)
                        </a>
                        <a class="btn btn-danger btn-sm" asp-controller="Vote" asp-action="NegativeVote" asp-route-eventId="@Model.Id" asp-route-guidingId="@comment.Id">
                            <i class="fas fa-thumbs-down"></i> (@comment.Vote.NegativeVotes)
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-secondary btn-sm mr-1">
                            <i class="fas fa-thumbs-up"></i> (@comment.Vote.PositiveVotes)
                        </a>
                        <a class="btn btn-secondary btn-sm">
                            <i class="fas fa-thumbs-down"></i> (@comment.Vote.NegativeVotes)
                        </a>
                    }
                }
            </div>
            <hr />
        </div>
    </div>
}

<nav aria-label="...">
    <ul class="pagination justify-content-center">

        <li class="page-item @if (!Model.HasPreviousPage) { <text>disabled</text> }">

            <a class="page-link" asp-action="EventDetails" asp-route-eventId="@Model.Id" asp-route-page="@Model.PreviousPageNumber">
                <i class="fas fa-arrow-alt-circle-left text-blue"></i>
            </a>
        </li>

        @for (int i = Model.PageNumber - 4; i < Model.PageNumber; i++)
        {
            if (i > 0)
            {
                <li class="page-item"><a class="page-link" asp-action="EventDetails" asp-route-eventId="@Model.Id" asp-route-page="@i">@i</a></li>
            }
        }

        <li class="page-item active" aria-current="page">
            <span class="page-link">
                @Model.PageNumber
                <span class="sr-only">(current)</span>
            </span>
        </li>

        @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 4; i++)
        {
            if (i <= Model.PagesCount)
            {
                <li class="page-item"><a class="page-link" asp-action="EventDetails" asp-route-eventId="@Model.Id" asp-route-page="@i">@i</a></li>
            }
        }
        <li class="page-item @if (!Model.HasNextPage) { <text>disabled</text> }">

            <a class="page-link" asp-action="EventDetails" asp-route-eventId="@Model.Id" asp-route-page="@Model.NextPageNumber">
                <i class="fas fa-arrow-alt-circle-right text-blue"></i>
            </a>
        </li>
    </ul>
</nav>
