@model IEnumerable<CommentViewModel>

<a href="#" class="show_hide">show/hide (@Model.Count())</a>
<div class="slidingDiv">

    @foreach (var subComment in Model)
    {
        <div class="media mt-3 mb-4">
            @if (subComment.UserId != null && subComment.ProfileImageUrl != null)
            {
                <img class="d-flex mr-3 z-depth-1" src="@subComment.ProfileImageUrl" width="62" height="72" alt="Generic placeholder image">
            }
            else
            {
                <img class="d-flex mr-3 z-depth-1" src="~/Images/default-avatar.png" width="62" alt="Generic placeholder image">
            }
            <div class="media-body">
                <div class="d-sm-flex justify-content-between">
                    <p class="mt-1 mb-2">
                        @if (subComment.UserId != null)
                        {
                            <strong>@subComment.PlayerName </strong>
                        }
                        else
                        {
                            <strong>Anonymous </strong>
                        }
                        <span>– </span><span>@subComment.Date</span>
                    </p>
                </div>
                <p class="mb-0">@subComment.Content</p>
            </div>
            <hr />
        </div>

    }

</div>

<section Scipts>
    <script>
        type = "text/javascript" >
            $(document).ready(function () {
                $(".slidingDiv").hide();
                $(".show_hide").show();
                $('.show_hide').click(function () {
                    $(".slidingDiv").slideToggle();
                });

            });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
</section>


