@model AirsoftApplication.Web.ViewModels.Guns.InputGunViewModel
@using AirsoftApplication.Data.Models.Guns

        <form asp-action="AddGun">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GunType" class="control-label">Gun Type</label>
                <select asp-for="GunType" class="form-control">
                    <option value=""></option>
                    <option value="@GunType.Carabine">Carabine</option>
                    <option value="@GunType.DMR">DMR</option>
                    <option value="@GunType.MachuneGun">Machine Gun</option>
                    <option value="@GunType.Pistol">Pistol</option>
                    <option value="@GunType.Sniper">Sniper</option>
                </select>
                <span asp-validation-for="GunType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacture" class="control-label"></label>
                <input asp-for="Manufacture" class="form-control" />
                <span asp-validation-for="Manufacture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
