@model AirsoftApplication.Web.ViewModels.Guns.InputGunViewModel
@using AirsoftApplication.Data.Models.Guns

@{
    ViewData["Title"] = "AddGun";
}

<h1>AddGun</h1>

<h4>InputGunViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddGun">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GunType" class="control-label"></label>
                <select asp-for="GunType" class="form-control">
                    <option value=""></option>
                    <option value="@GunType.Carabine">Carabine</option>
                    <option value="@GunType.DMR">DMR</option>
                    <option value="@GunType.MachuneGun">Machine Gun</option>
                    <option value="@GunType.Pistol">Pistol</option>
                    <option value="@GunType.Sniper">Sniper</option>
                </select>
                <span asp-validation-for="GunType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacture" class="control-label"></label>
                <input asp-for="Manufacture" class="form-control" />
                <span asp-validation-for="Manufacture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
