@model EventDeteilsViewModel
@using AirsoftApplication.Common
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await this.UserManager.GetUserAsync(this.User);
}

<h4>
    <a asp-controller="Home" asp-action="Index" class="link-primary">Home</a>/<a asp-controller="Team" asp-action="Events" class="link-primary">Events</a>/Details
</h4>
@{
    ViewData["Title"] = "Details";
}

<br />

<div class="row">
    <div class="col-md-4">
        <div class="container">
            <div class="">
                <img src="@Model.CoverImage.ImageUrl" style="width:315px;height:300px">
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-2">
                <a class="btn btn-primary mr-1" asp-controller="Comments" asp-action="Index" asp-route-eventId="@Model.Id">Comment</a>

                @if (user == null)
                {
                    <a class="btn btn-secondary mr-1">
                        <i class="fas fa-thumbs-up"></i> (@Model.Vote.PositiveVotes)
                    </a>
                    <a class="btn btn-secondary">
                        <i class="fas fa-thumbs-down"></i> (@Model.Vote.NegativeVotes)
                    </a>

                }
                else
                {
                    @if (!Model.Vote.VotedUsers.ToList().Contains(user.Id))
                    {
                        <a class="btn btn-primary mr-1" asp-controller="Vote" asp-action="PositiveVote" asp-route-eventId="@Model.Id" asp-route-guidingId="@Model.Id">
                            <i class="fas fa-thumbs-up"></i> (@Model.Vote.PositiveVotes)
                        </a>
                        <a class="btn btn-danger" asp-controller="Vote" asp-action="NegativeVote" asp-route-eventId="@Model.Id" asp-route-guidingId="@Model.Id">
                            <i class="fas fa-thumbs-down"></i> (@Model.Vote.NegativeVotes)
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-secondary mr-1">
                            <i class="fas fa-thumbs-up"></i> (@Model.Vote.PositiveVotes)
                        </a>
                        <a class="btn btn-secondary">
                            <i class="fas fa-thumbs-down"></i> (@Model.Vote.NegativeVotes)
                        </a>
                    }
                }





            </div>
            <br />
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-body">
                            <h3 class="card-title">Game Information</h3>
                            <hr />
                            <h5>@Model.Name</h5>
                            <p class="text-justify">@Model.Description<br><br></p>
                            <h5 class="card-title">
                                @Model.Date
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="classic-tabs border rounded px-4 pt-1">

            <ul class="nav tabs-primary nav-justified" id="advancedTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active show" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="true">Comments(@Model.CommentsCount)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Team" asp-action="Gallery" asp-route-eventId="@Model.Id" aria-selected="false">Gallery</a>
                </li>
                @if (this.User.IsInRole(GlobalConstants.ApplicationRole.AdministratorRoleName))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Administration" asp-controller="Events" asp-route-eventId="@Model.Id" asp-action="AddImages">Add Images</a>
                    </li>
                }
            </ul>
            <hr />
            <div class="tab-content" id="advancedTabContent">
                <div class="tab-pane fade show active" id="comments" role="tabpanel" aria-labelledby="comments-tab">
                        <partial name="_CommentPartial" model="@Model" />
                    </div>
                </div>
        </div>
    </div>
</div>

