@model AirsoftApplication.Web.ViewModels.Events.EventViewModel

<h4>Предстояща игра</h4>
<hr />

<div class="row">
    <div class="col-md-5">
        <div class="container">
            <div class="">
                <img src="@Model.Image.ImageUrl" style="width:100%">
            </div>

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-body">
                            <h3 class="card-title">Инфо за играта</h3>
                            <hr />
                            <h5 class="card-title"> @Model.Name</h5>
                            <p class="card-text"> @Model.Description</p>
                            <h5 class="card-title"> @Model.Date - @Model.Time</h5>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-primary"asp-area="Administration" asp-controller="Statistics" asp-action="Index" asp-route-eventId="@Model.Id">Event control</a>
        </div>


    </div>
    <div class="col-md-7">
        <div class="container">
            @foreach (var image in Model.Battlefield.Images)
            {
                <div class="mySlides">
                    <img src="@image.ImageUrl" style="width:100%">
                </div>

            }
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-body">
                            <h3 class="card-title">Инфо за терена</h3>
                            <hr />
                            <p class="card-text"> @Model.Battlefield.Description</p>

                            <span style="font-size: 20px; color: dodgerblue;">
                                <i class="fas fa-street-view"></i>
                                <a href=" @Model.Battlefield.Location" class="card-link">Локация </a>
                            </span>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }
</script>